body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: #00000099;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: black;
  padding: 60px;
  padding-top: 120px;
}
