* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: #00000099;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: black;
  padding: 40px;
}

h2 {
  font-weight: 600;
  color: black;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  padding-bottom: 20px;
}

.answer {
  color: #00000099;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}

.question {
  padding: 50px 0;
}

.logo {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.middle-container {
  margin: 10px 5%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: transparent;
  box-shadow: 0 0 10px white;
  border-radius: 15px;
  width: 700px;
  margin: 7vh auto;
}
form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.form-item {
  display: flex;
  width: 70%;
  height: 60px;
  background: transparent;
  margin: 20px auto;
  border-radius: 15px;
  align-items: center;
  border-bottom: 1px solid rgb(82, 81, 81);
}
.form-item:hover {
  border: 1px solid rgb(82, 81, 81);
}
input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  font-family: 'Inter';
  background: transparent;
  width: 80%;
  height: 40px;
  outline: none;
  border: none;
  margin: auto;
  color: black;
  font-size: 16px;
  text-align: left;
}

button[type=submit] {
  font-family: "Inter";
  width: 350px;
  font-size: 30px;
  margin: 10px auto;
  padding: 10px;
  background: gray;
  border: none;
  color: white;
  border-radius: 15px;
}
button[type=submit]:hover {
  background-color: #FF7426;

}
.options {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  flex-wrap: wrap;
}
button {
  font-size: 18px;
  padding: 5px 16px;
  margin: 5px 15px;
  width: 180px;
  background: transparent;
  color: Blue;
  cursor: pointer;
  transition: all 0.7s ease;
}
.login-account {
  color: gray;
}
.login-account:hover {
  color: black;
}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 330px) {

  h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: black;
    padding: 35px;
  }
}
