* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  margin: 0;
  padding: 0;

}

.middle-container {
  margin: 0 5%;
}

h1 {
  margin-top: 80px;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: black;
  padding: 40px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  color: black;
  padding-bottom: 20px;
  padding-top: 70px;
}

.delete-button {
  float:right;
  margin-right: 15px;
  text-decoration: none;
  color: white;
  padding: 20px;
  background: #FF7426;
  border-radius: 40px;
}

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 40px 0;
  border-radius: 33px;
  float: left;
  width: 100%;
  background-color: #ffe3d4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.product-card p, .product-card h2 {
  text-align: left;
  padding-right: 10%;
}

.stats-for-nerds {
  text-align: left;
  margin-bottom: 100px;
}

.stats-for-nerds h2 {
  font-size:42px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.stats-for-nerds h3 {
  line-height: 35px;
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  margin-left: 10px;
}

.column {
  float: left;
  width: 50%;
}

img {
  border-radius: 59px;
  max-width: 218px;
  max-height: 350px;
  padding: 50px 20px;
}

.search-bar form {
    width: 100%;
    height: 70px;
    background: #ffd3ba;
    border-radius: 50px;
    position: relative;
}

.search-bar {
  width: 60%;
  margin: auto;
}

.search-bar form input {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 50px);
    height: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 50px;
    color: #FF7426;
    font-size: 1.2em;
    font-style: italic;
    font-family: Inter;
}


.search-bar form input::placeholder {
    color: #FF7426;
    font-size: 1.2em;
    font-style: italic;
    font-family: Inter;

}

.search-bar form button.btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #FF7426;
    color: #FFF;
    cursor: pointer;
    animation: animate 3s infinite;
    font-size: 28px;
}

@keyframes animate {
    0%, 100% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 0 5px #ffe7da,
                    0 0 0 10px #ffe7da;
    }
}

.search-bar form .inputBox button.btn:hover {
    animation: none;
}



@media only screen and (max-width: 800px) {
  .search-bar {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 60px) {
  .search-bar {
    width: 100%;
  }
}
