* {
    margin: 0;
    padding: 0;
}

header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: #00000099;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  margin: 0;
  border-bottom: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .logo {
  cursor: pointer;
  font-size: 1.5em;
  transition: all 0.5s ease 0s;
  display: block;
}

#user-nav {
  text-decoration: none;
  transition: all 0.5s ease 0s;
  display: inline-block;
  padding: 0 20px;
  font-weight: 600;
  color: black;
}

#user-nav:hover {
  color: #588c7e;
}

.nav-links {
  list-style: none;
  text-decoration: none;
}

.nav-links li {
  transition: all 0.5s ease 0s;
  display: inline-block;
  padding: 0 20px;
  list-style: none;
}

.nav-links li a {
  transition: all 0.5s ease 0s;
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.nav-links li a:hover {
  color: #588c7e;
}

.nav-links li .active {
  background-color: #588c7e;
  border-radius: 50px;
  color: white;
  padding: 2px 10px;
}

header .login {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: black;
  padding: 9px 25px;
  background-color: #E7F9FD;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 1s ease 0s;
}

header .login:hover {
  background-color: lightblue;
}

@media only screen and (max-width: 800px) {
  header .logo {
    cursor: pointer;
    font-size: 1em;
    transition: all 1s ease 0s;
  }

  header .login {
    font-size: 12px;
    padding: 5px 15px;
    background-color: #E7F9FD;
    border-radius: 40px;
    transition: all 0.5s ease 0s;
  }

  .nav-links li a {
    font-size: 14px;
    transition: all 0.5s ease 0s;

  }

  .nav-links li {
    padding: 0 7px;
    transition: all 0.5s ease 0s;
  }
}

@media only screen and (max-width: 330px) {
  header .logo {
    display: none;
  }

  header .login {
    font-size: 10px;
    padding: 3px 10px;
    background-color: #E7F9FD;
    border-radius: 35px;
  }

  .nav-links li a {
    font-size: 10px;
  }

  .nav-links li {
    padding: 0 5px;
  }
}
