* {
  margin: 0;
  padding: 0;

}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 10px;
  width: 350px;
  height: 350px;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #FF7426;
}

body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;

  color: #00000099;
  margin: 0;
  padding: 0;
}

.column {
  float: right;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  margin-top: 3%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 77px;
  letter-spacing: -0.04em;
  color: black;
}

h3 {
  margin-bottom: 4%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.04em;
  color: black;
}

.input-explanation {
  height: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.input-row input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  height: 60px;
  width: 80%;
}

.input-row{
  margin: 2% 0;
}

input[type="text"], input[type="email"], input[type="password"] {
  padding: 0 5%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;
  
}

.profile-pic-div {
  margin-bottom: 10%;
  text-align: center;
}

.custom-photo-upload {
  cursor: pointer;
  color: black;
  font-weight: 600;
}

.custom-photo-upload:hover {
  color: #FF7426;
}

input[type="file"] {
    display: none;
}

form {
  margin: 5% 0;
}

input[type="Submit"] {
  height: 64px;
  background-color: black;
  color: white;
  border-radius: 16px;
  padding: 0 6%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.middle-container {
  margin: 20px 5%;
  min-height: auto;
}

.description-div {
  margin-bottom: 50px;
}

.logo {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

@media only screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 330px) {
  input[type="Submit"] {
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 16px;
    padding: 0 6%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }

  h2 {
    font-size: 24px;
  }

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #FF7426;
  }

}
